/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  background-color: rgb(247, 93, 209);
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
}

.my-btn {
  background-color: rgb(58, 105, 222);
  border-radius: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: white;
  padding: 8px;
  display: flex;
  justify-content: center;
  width: 95%;
  text-decoration: none;
  transition: 0.2s ease;
}

.my-btn:hover {
  background-color: white;
  color: rgb(58, 105, 222);
  border: 1.5px solid rgb(58, 105, 222);
}

.my-card {
  background-color: white;
  height: 200px;
  border-radius: 8px;
  text-align: center;
  align-content: center;
  font-size: 24px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  transition: .02s ease;
}

.my-card:hover {
  opacity: 0.5;
}

.page-container {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px auto;
  background-color: white;
  border-radius: 8px;
  margin: 32px 120px;
}
